body {
    display:flex;
    flex-direction: column;
    align-items: center;
}


   
.colorboxes {
    display: inline-block;
    margin: 3rem;
}

.border {
    transition: transform 0.2s; /* Ensure transition is applied to the base state */
}

.border:hover {
    cursor: pointer;
    transform: scale(1.1);
}

